img.homeimage
{
    width:70%;
    height:auto;
    clear:both;
    margin-top:3%;
    margin-right:auto;
    margin-left:15%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
       -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
    
}

img.homeimage:hover
{
  border-radius:10%;
}   


a
{
   text-decoration:none;
   color:	#014063;
    
}

a:hover
{
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

link:hover
{
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   opacity:.8;
    
}

.main
{
   margin-left:3%;
   margin-top:2%;
   margin-right:5%;   
   height:100%;
}

body
{
   font-family: 'Ubuntu', sans-serif;
}

.text
{
    font-family: 'Ubuntu', sans-serif;
    font-size:32px;
    color:#014063;
}

#email, #phone
{
   float:left;
   line-height:95%;
}

img.headerimg
{

    margin-left:4%;
    float:left;
    width:64px;
}

.defsplash1
{
    float:left;
    width:4.4%;
    margin-left:10%;
}

.defsplash2
{
    float:left;
    width:21.21%;
}

.headsplash1
{
    float:left;
    width:30px;
     
}

.headsplash2
{
    float:left;
    width:180px;
}

.nav
{
    height:400px;
    
}

.navtext
{   
   margin-bottom:0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.navtext:hover{
    margin-bottom:10%;
}


.rotate {
    /* Safari, Chrome */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Older versions of IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    /* CSS3 standard as defined here: http://www.w3.org/TR/css3-transforms/ */
    transform: rotate(-90deg);
    float:right;
    font-size:200%;
     border: 1px solid #111111;
     bottom:0;
     margin-left:10px;
     position:relative;
}


.gallery-img 
{
  width:350px;
  height:auto;
  display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left:10px;
  margin-bottom:10px;
  vertical-align:middle;
}

.alpha
{
    margin-left:0px;   
}
/* line 191, ../sass/screen.sass */
.gallery-img:hover {
  border-radius:20%;
}

#contact
{
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   opacity:0;
   font-size:32px;
   position:relative;
   bottom:25px;
   margin-left:300px;
}

#homepopup
{
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   opacity:0;
   font-size:32px;
   position:relative;
   bottom:40px;
   margin-left:0px;
}


.popup:hover #contact
{
    opacity:1;   
    margin-left:350px;
}
.popup:hover #homepopup
{
    opacity:1;   
    margin-left:220px;
}


.navimg
{   
   width:80%;
   height:420px;
   border-bottom:15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.navimg:hover{
    border-radius:50px;   
}

 


.navtxt
{
    
}

.nav1
{
 min-width: 320px;   
    
}

.nav2
{
    min-width:320px;
}

.footer
{
    font-size:24px;    
}

.bounce:hover > .navtext
{
    margin-bottom:10%;   
}

.demotext
{
    position:fixed;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.1em;
    right:0;
    bottom:0;
    font-size:175%;
}